<div id="employee_<%=h employee.id %>" onclick=<%= employee_start_edit_path(employee.id) %>>
  First Name: <span class="name"><%=h employee.first_name %></span>
  Surname: <span class="value"><%=h employee.surname %></span>
</div>