<!DOCTYPE html>
<html>
<head>
  <title>Scand Test Task</title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body onload = "onDocumentLoad();">

<%= yield %>

</body>
</html>
